* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: silver;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
}

header .logo {
    width: 50px;
    height: 50px;
    float: left;
}

.container {
    display: flex;
    flex: 1;
    min-height: 0;
}

.sidebar {
    width: 200px;
    background-color: #a3c3cb;
    padding: 1rem;
    border-right: 1px solid black;
}

.sidebar li {
    font-size: 1.5rem;
    margin: 1rem;
}

.content {
    display: flex;
    flex: 1;
    padding: 1rem;
    background-color: #cfe2f3;
    justify-content: center;
    align-elements: middle;
}

footer {
    background-color: #a3c3cb;
    text-align: right;
    padding: 1rem;
    border: 1px solid black;
}

a, a:link, a:visited, a:focus, a:hover {
    color: black;
}

a:active {
    color: darkred;
}
