@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-size: 15px;
}

nav{
    background-color: #03363d;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;   
    top: 0;            
    left: 0;
    width: 100%;
}

main {
    margin-left: 200px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 70px;
}

header h1{
    color: whitesmoke;
    font-size: 25px;
    margin-left: 15px;
}

header img{
    height: 50px;
}

.menu-lateral {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 200px; 
    height: 86vh; 
    background-color: #afc19c; 
    color: white; 
  }


.menu-lateral button{
    height: 80px;
    color: white;
    background-color: #03363d;
    border-radius: 15px;
    cursor: pointer;
}

.menu-lateral button:hover {
    transform: scale(1.1);
    background-color: #032c32;
}

footer{
    position: fixed;
    bottom: 0;
    height: 70px;
    background-color: #03363d;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.api-results {
    padding: 15px;
    flex:1;
}

.game-item {
   text-align: center;
   background-color: #032c32;
   color: white;
   border-radius: 15px;
   width: 100%;
   margin: 15px;
   height: 50px;    
}

main.game-item {
    display: flex;
    flex-direction: column;
}

.menu-lateral ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-lateral li{
    margin: 35% 0;
    text-align: center;    
}

.menu-lateral input {
    padding-left: 5px;
    width: 75%;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 0;
}

#all_films{
    display: flex;
    flex-wrap: wrap;
}

.film-item{
    width: 48%;
    background-color:#032c32; 
    border-radius: 20px; 
    padding: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 15px; 
    margin-left: 15px; 
    margin-top: 80px;
    color: white; }

.film-item img{
    width: 100%; 
    height: auto;
    border-radius: 20px; 
    border: 2px solid white; 
}

p {
    text-align: center;
}

#frase {
    font-style: italic;
    margin-top: 100px;
}

.expectativa{
    margin-top: 25px;
}

.primera{
    text-shadow: 1px 1px 3px black;

}

.segunda{
    
    text-shadow: 2px 2px 3px orange;
}

.tercera{
    text-shadow: 3px 3px 3px blue;
}