body {
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
}

header {
    grid-area: header;
    background-color: #b0b0b0;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

aside {
    grid-area: aside;
    background-color: #a0c0c0;
    padding: 10px;
    border-right: 2px solid black;
}

main {
    grid-area: main;
    background-color: #c0d0e0;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #c0d0e0;
    text-align: right;
    padding: 10px;
    border-top: 2px solid black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 5px 0;
}

.shadow1 {
    text-shadow: 2px 2px 5px #888;
}

.shadow2 {
    text-shadow: 3px 3px 5px #555;
}

.shadow3 {
    text-shadow: 4px 4px 5px #333;
}

/* Estilos para API1 */
.api1-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.api1-paragraph {
    font-style: italic;
    color: #002244;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Estilos para API2 */
.api2-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.api2-list {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

.api2-list li {
    margin: 5px 0;
}