<!DOCTYPE html>
<html>

<head>
    <title>Strapi/Node</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid my-3" id="app">
        <h4>Carreras</h4>
        <ul id="carreras"></ul>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody v-if="carreras.length">
                <tr v-for="carrera in carreras">
                    <th scope="row">{{ carrera.id }}</th>
                    <td>{{ carrera.nombre }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" @click="deleteCarrera(carrera)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6">
                <form v-on:submit.prevent="createCarrera">
                    <div class="form-group">
                        <label for="carrera-nombre">Nombre</label>
                        <input type="text" class="form-control" id="carrera-nombre" v-model="carrera.nombre">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
        <hr>
        <h4>Materias</h4>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Alumnos</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody v-if="materias.length">
                <tr v-for="materia in materias">
                    <th scope="row">{{ materia.id }}</th>
                    <td>{{ materia.nombre }}</td>
                    <td>{{ materia.carrera ? materia.carrera.nombre : '' }}</td>
                    <td>{{ materia.alumnos.length }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" @click="deleteMateria(materia)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6">
                <form v-on:submit.prevent="createMateria">
                    <div class="form-group">
                        <label for="materia-nombre">Nombre</label>
                        <input type="text" class="form-control" id="materia-nombre" v-model="materia.nombre">
                    </div>
                    <div class="form-group">
                        <label for="materia-carrera">Carrera</label>
                        <select id="materia-carrera" class="form-control" v-model="materia.carrera">
                            <option value="">Seleccione</option>
                            <option :value="carrera.id" v-for="carrera in carreras">{{ carrera.nombre }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
        <hr>
        <h4>Alumnos</h4>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Legajo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody v-if="alumnos.length">
                <tr v-for="alumno in alumnos">
                    <th scope="row">{{ alumno.id }}</th>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellido }}</td>
                    <td>{{ alumno.legajo }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" @click="deleteAlumno(alumno)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6">
                <form v-on:submit.prevent="createAlumno">
                    <div class="form-group">
                        <label for="alumno-nombre">Nombre</label>
                        <input type="text" class="form-control" id="alumno-nombre" v-model="alumno.nombre">
                    </div>
                    <div class="form-group">
                        <label for="alumno-apellido">Apellido</label>
                        <input type="text" class="form-control" id="alumno-apellido" v-model="alumno.apellido">
                    </div>
                    <div class="form-group">
                        <label for="alumno-legajo">Legajo</label>
                        <input type="text" class="form-control" id="alumno-legajo" v-model="alumno.legajo">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
        <hr>
        <h4>Asignar alumnos a materias</h4>
        <div class="row">
            <div class="col-md-6">
                <form v-on:submit.prevent="assignAlumnoToMateria">
                    <div class="form-group">
                        <label for="alumno">Alumno</label>
                        <select multiple id="alumno" class="form-control" v-model="alumnoMateria.alumnos">
                            <option :value="alumno.id" v-for="alumno in alumnos">{{ alumno.nombre }} {{ alumno.apellido }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="materia">Materia</label>
                        <select id="materia" class="form-control" v-model="alumnoMateria.materia">
                            <option value="">Seleccione</option>
                            <option :value="materia.documentId" v-for="materia in materias">{{ materia.nombre }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="app.js"></script>
</body>

</html>