body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #999;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 80px;
    margin-left: 15px;
}

header h1 {
    text-align: center;
    margin: 20px auto;
}

.container {
    display: flex;
    flex-direction: row;
}

aside {
    background-color: khaki;
    width: 15%;
    padding: 15px;
}

article {
    background-color: lightgoldenrodyellow;
    padding: 25px;
    min-height: 400px;
    width: 85%;
}

footer {
    background-color: lightblue;
    text-align: right;
    padding: 10px;
    display: block;
    clear: both;
}

.sombra1 {
    text-shadow: 2px 2px 5px rosybrown;
}

.sombra2 {
    text-shadow: 2px 2px 3px darkslategrey;
}

.sombra3 {
    text-shadow: 3px 3px 6px darkgray;
}