body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #131312;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html{
    height: 100vh;
    margin: 0;
}

*{
    box-sizing: border-box;
}


header{
    background-color: aliceblue;
    height: 15%;
    width: 100vw; 
 
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.hCenter, .hRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hLeft{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo{
    height: 80px;
    width: 80px;
    margin-left: 40px;
}


.asideContainer{
    height: 100%;
    width: 15vw;
    background-color: rgb(221, 160, 159);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: #131312;
    font-weight: bold;
    transition: transform 0.3s;
}

a:hover{
    transform: scale(1.2);
}

footer h3{
    margin-right: 20px;
}

footer{
    width: 100vw;
    height: 15%;
    background-color: aquamarine;
    display: flex;
    justify-content: end;
    align-items: center;
}



.main {
    background: #5db6dc;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#fRandom {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.expectativa {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 2rem;
}