header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

header img {
    margin-right: 20px;
}

aside {
    width: 200px;
    background-color: #dcdcdc;
    padding: 15px;
    height: 100vh;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

footer{
    text-align: end;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.contenedor {
    display: flex;
    min-height: 80vh;
    background-color: #cfe2f3;
}

.sombra1 {
    color: #003366;
    text-shadow: 2px 2px 4px #888;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
.sombra2 {
    color: #006600;
    text-shadow: 1px 1px 3px #444;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
.sombra3 {
    color: #660000;
    text-shadow: 3px 3px 5px #999;
    font-size: 1.4rem;
    font-weight: bold;
  }

.expectativa {
    margin-top: 10px;
    font-style: italic;
    font-size: 1.1rem;
    color: #333;
  }

#contenido-principal {
    padding: 10px;
    flex-grow: 1;
    margin: 10px;
    border-radius: 5px;
}
