body {
        margin: 0;
      font-family: Arial, sans-serif;
    }

    .grid-container {
      display: grid;
      grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
      grid-template-columns: 200px 1fr;
      grid-template-rows: 60px 1fr 40px;
      height: 100vh;
    }

    #icono{
        width:  55px;
        border-radius: 50px;
        cursor: pointer;
    }

    #icono:hover{
        width: 60px;
        border: #000000  1px solid;
    }

    header {
      grid-area: header;
      background:orangered;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    aside {
      grid-area: sidebar;
      background: #f4f4f4;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-right: orangered solid;
    }
    button{
        background-color: orangered;
        color: #f4f4f4;
        font-size: large;
        height: 70px;
        border: #f4f4f4 solid;
        border-radius: 30px;
        transition: background-color 0.3s, transform 0.2s;
    }
    button:hover{
        background-color: #f4f4f4;
        color: orangered;
        border: orangered solid;
        transform: scale(1);
    }

    main {
      grid-area: main;
      background: #fff;
      padding: 10px;
      min-height: 0; 
    }


    footer {
      grid-area: footer;
      background: #333;
      display: flex;
      align-items: center;
      justify-content:end;
      border-top: orangered solid;
      color: #fff;
      padding: 10px;
    }

    #fraseAleatoria {
      font-size: 2em;
      margin: 20px auto;
      width: 80%;
    }
    
    
