html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial;
}

header {
    background-color: rgb(232, 206, 225);
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
}
header .logo {
    float: left;
    margin-left: 20px;
    width: 100px; 
}


.bloque-main{
    display: flex;
    flex: 1;
}
aside {
    background-color: rgb(197, 212, 224);
    width: 25%;
    padding: 10px;
    border: 1px solid black;
}
aside p{
    font-size: 15px;
}

aside a{
    font-size: 16px;      
    padding: 10px 0;        
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

footer{
    background-color: rgb(232, 206, 225);
    text-align: right;
    border: 1px solid black;
    padding: 10px;
}

.sombra_frase1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5); /* Sombra azul */
}

.sombra_frase2 {
    text-shadow: 2px 2px 5px rgba(0, 255, 0, 0.5); /* Sombra verde */
}

.sombra_frase3 {
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5); /* Sombra roja */
}
