/* === VALORES PREDETERMINADOS === */

* {
    box-sizing: border-box;
    /* Dice que el tamaño de la caja se va a medir teniendo 
    en cuenta el padding y el border y no los suma Después. 
    Si son 20px de with va a tener en cuenta el padding, el border y el content=20px*/
    margin: 0;
    padding: 0;
}

body {
    background-color: #323031;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1,
h2,
h3,
p {
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

p,
button {
    font-family: 'Lato', sans-serif;
    font-size: large;
}

/* === CONTENIDO PRINCIPAL === */

header {
    background-color: #3D3B3C;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#secciones-principales {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}

#series-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#series-container .no-data {
    margin-top: 15px;
    padding: 10px;
    background-color: #7F7979;
    border-radius: 8px;
}

#botonera {
    margin: 15px;
    padding: 10px;
    width: 30%;
    /* Esto indica que ocupa solo la primera columna */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#botonera button {
    padding: 10px 15px;
    background-color: #7F7979;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 1s;
    width: 200px;
}

#botonera button:hover {
    background-color: #d0bcbc;
}

.serie {
    border: 1px solid whitesmoke;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    align-items: center;
    /*
    width: 250px;
    */

    width: 500px;

    margin: 15px;
    padding: 25px;
    gap: 15px;
    background-color: #7F7979;
}

.serie h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.serie img {
    text-align: center;
    width: 200px;
    height: fit-content;
    object-fit: cover;
    border-radius: 3px;
}

footer {
    background-color: #3D3B3C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* Lo dej fijo abajo */
    width: 100%;

}

/* === RESPONSIVE === */
@media only screen and (max-width: 500px) {

    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: large;
    }

    #secciones-principales {
        flex-direction: column;
        align-items: center;
    }

    .serie {
        flex-direction: column;
        width: 250px;
    }
}