body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #E3DAD0;
}

/*Div Principal*/
.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 3px solid #000;
}

/*Header*/
#header {
    background-color: #b3b3b3;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    border-bottom: 2px solid #000;
}

#header img {
    height: 120px;
    justify-self: start;
}

#header h1 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    justify-self: center;
}

/* Content layout */
.contenido {
    display: flex;
    flex: 1;
}

/* Sidebar */
#aside {
    background-color: #9fc6c7;
    padding: 15px;
    min-width: 150px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#aside ul {
    list-style: none;
    padding: 0;
}

#aside a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    display: block;
    padding: 8px 0;
    transition: color 0.3s;
}

#aside a:link {
    color: #728fa1; /* azul claro - no visitado */
}

#aside a:visited {
    color: #000b2e; /* azul oscuro - ya visitado */
}

#aside a:hover {
    color: #005b87;
}

#aside a:active {
    color: #63a7d5;
}


/* Main */
#main {
    background-color: #d6eaf8;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#frase1 {
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

#frase2 {
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 4px 1px 1px rgba(0,0,0,0.2);
}

#frase3 {
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 4px 1px rgba(0,0,0,0.2);
}

#expectativa {
    font-size: 0.9rem;
}

/* Pie de página */
#footer {
    background-color: #d6eaf8;
    padding: 10px;
    text-align: right;
    font-style: italic;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

