#contenedor{
    border: 2px solid #3399ff;
    padding: 0;
}
#header{
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    padding: .3em;
    border-bottom: 2px solid #3399ff;
}
#main {
    display: flex;
    height: auto;
    min-height: 500px;
}
#aside{
    width: 25%;
    background-color: aqua;
    border-right: 2px solid #3399ff;
}
#section{
    width: 75%;
    background-color: aquamarine;
}
#footer{
    align-items: center;
    clear:both;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: lightseagreen;
    border-top: 2px solid #3399ff;
    padding-right: 1em;
}

#logo{
    height:64px;
    width: auto;
    float: left;
}
#nombre{
    flex: 1;
    text-align: center;
    font-size: 25px;
}
.texto{
    padding-left: 1em;
    padding-right: 1em;
}


.sombra1 {
    text-shadow: 2px 2px 4px; 
    color: blue;
    font-weight: bold;
}

.sombra2 {
    text-shadow: 1px 1px 5px; 
    color: purple;
    font-style: italic;
}

.sombra3 {
    text-shadow: -2px -2px 6px #9900cc; 
    color: pink;
    text-transform: uppercase;
}

ul li{
    list-style: none;
}
a{
    color: green;
}