body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-color: #fce4ec; 
}

header {
    background-color: #f8bbd0; 
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a148c; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 50px;
    margin-right: 20px;
}

h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.main-content-wrapper { 
    display: flex; 
    flex-grow: 1; 
}

.sidebar {
    background-color: #f48fb1; 
    width: 200px; 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #4a148c;
    display: block;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #e91e63; 
    color: white;
}

.content {
    flex-grow: 1; 
    padding: 20px;
    background-color: #ffebee;
}

footer {
    background-color: #f8bbd0; 
    padding: 15px;
    text-align: right;
    color: #4a148c; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.frase-inspiradora {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para sombras de texto */
#frase1 {
    color: #e91e63; 
    text-shadow: 2px 2px #d81b60, 4px 4px #c2185b; 
}

#frase2 {
    color: #880e4f; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

#frase3 {
    color: #c2185b; 
    text-shadow: 0 0 5px #e91e63, 0 0 10px #e91e63, 0 0 15px #e91e63; 
}

.expectativa {
    font-size: 1.1em;
    line-height: 1.6;
    color: #4a148c; 
    text-align: justify;
    margin-top: 30px;
    padding: 0 20px;
}

#api-results div {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #4a148c;
}

#api-results h3 {
    color: #e91e63;
    margin-bottom: 10px;
}