
body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #0F172A; 
    color: #E2E8F0; 
}
header {
    background-color: #1F2937; 
    color: #F3F4F6; 
    padding: 1rem; 
    box-shadow: shadow-xl;   
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 

}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    border-radius: 10px;
    border: 2px solid #60A5FA; 
    width: 60px;
    height: 60px;
    background-color: #334155;
    
}

header .titulo h1 { 
    font-weight: 700; 
    text-align: center; 
}

main {
    display: flex;
    flex-direction: column; 
}

aside {
    background-color: #27272A; 
    color: #E2E8F0; 
    padding: 1rem; 
    box-shadow:  3 2 5px #27272A;
    margin: 1rem; 
}

.sidebar_api {
    padding: 1rem; 
    background-color: #374151; 
    border-radius: 0.5rem;
    border: 1px solid #4B5563; 
}

.sidebar_api button{
    border-radius: 0.5rem;
    background-color: #374151;
    color: white;
}

section {
    display: block; 
    padding: 1.5rem; 
    background-color: #374151; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem; 
    border: 1px solid #4B5563; 
}

footer {
    background-color: #1F2937; 
    padding: 1rem; 
    box-shadow:3 3 7px #0F172A;
    border-radius: 0.5rem;
    text-align: right; 
}

#resulEx{
    text-align: left;
    margin: 2rem 1rem 1rem;
    text-decoration: underline;
    font-family: sans-serif;
    font-size: large;
}

#fotoGatito{
    height: 10rem;
    width: 10rem;
    margin-top: 2rem;
    border-radius: 2.5rem;
}

#text{
    color: rgb(163, 152, 152);
    text-align: center;
    margin: 1rem 1rem;
}