* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #4a90e2;
  color: white;
  text-align: center;
  padding: 30px 10px; 
  height: 100px;
}

header h1 {
  font-size: 28px; 
}


.logo {
  width: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}

main {
  display: flex;
  flex: 1;
  border-radius: 10px; 
}

aside {
  background-color:aquamarine;
  padding: 20px;
  width: 300px; 
  font-size: 30px;
}

aside ul {
  list-style: none;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  text-decoration: none;
  color: #333;
}

#contenido {
  padding: 20px;
  flex: 1;
  background-color: lightblue;
}

#contenido p {
  font-size: 23px;
}

#contenido img {
  max-width: 100%;
  margin: 10px;
}

footer {
  background-color: rgb(146, 170, 167);
  padding: 10px;
  text-align: right;
  height: 75px;
  line-height: 60px; 
  border-radius: 10px; 
}

