* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color:darkgrey;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border:2px solid #000;
  }
  
  .contenedor {
    display: flex;
    flex: 1;
    border-right:2px solid #000;
  }

  .logo {
    width: 60px;
    margin-right: 20px;
    float: left;
  }
  
  aside {
    background-color:grey;
    padding: 1rem;
    width: 200px;
    border-left:2px solid #000;
    border-right:2px solid #000;
  }
  
  aside a {
    display: block;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    background-color: white;
    padding: 1rem;
    flex: 1;
    border-right:2px solid #000;
  }
  
  footer {
    background-color:white;
    text-align: right;
    padding: 0.5rem 1rem;
    font-style: italic;
    border:2px solid #000;
    
  }
  
  .sombra1 {
    text-shadow: 2px 2px 4px #dc0303;
  }
  
  .sombra2 {
    text-shadow: 2px 2px 4px rgb(63, 6, 221);
  }
  
  .sombra3 {
    text-shadow: 2px 2px 4px rgb(9, 143, 9);
  }
  