/*
Colores a utilizar:
Navy Blue: #002A60
Red: #CD1041
Gray: #777D84
Silver: #C6CFD4
*/


/* Reseteo estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Seteo la fuente */
body {
  font-family: Kanit, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* -------------------- Estilos Cabecera -------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002A60;
}

h1 {
  color: #C6CFD4;
  text-shadow: 0 0 5px #777D84a0;
  font-weight: 500;
  flex: 1;
  text-align: center;
}

.logo {
  filter: drop-shadow(0 0 7px #C6CFD4);
  padding: 10px;
}
/* -------------------- Fin Estilos Cabecera -------------------- */


.main {
  flex: 1;
  display: flex;
  overflow: hidden;
}


/* -------------------- Estilos Barra Lateral -------------------- */
.sidebar {
  background-color: #CD1041;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar__api-interface {
  width: 80%;
  text-align: center;
}

.sidebar__btn {
  color: #C6CFD4;
  width: 100%;
  height: 50px;
  background-color: #002A60;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  font-size: 1.1rem;
  box-shadow: 0 0 5px #C6CFD4;
}

#year{
  background-color: #fac8d5;
  border: 1px solid #002A60;
  outline: none;
  color: #002A60;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
}
#year::placeholder {
  color: #002A60;
  font-size: 14px;
}

span {
  font-size: .8rem;
  color: #ffffffaa;
}
/* -------------------- Fin Estilos Barra Lateral -------------------- */


/* -------------------- Estilos Contenido Principal -------------------- */
.content {
  background-color: #777D84;
  flex: 1;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

/* ---------- Estilos Frases randoms ---------- */
.primera {
  font-size: 1.8rem;
  color: #ffffff;
  text-shadow: 0 0 15px #ff0000;
}

.segunda {
  color: #182394;
  font-size: 1rem;
  text-shadow: 5px 5px 10px white;
  font-family: 'Montserrat', sans-serif;
}

.tercera {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #0096d6, 0 0 10px #74c9e5;
  font-family: 'Impact', 'Arial Black', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#amarillo {
  color: #FCBF49;
  font-size: 2.2rem;
}
/* ---------- Fin Estilos Frases randoms ---------- */

/* ---------- Estilos de cada partido (API 1) ----------*/
.partido {
  background-color: #C6CFD4;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  color: #002A60;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

#date {
  text-align: center;
  margin-bottom: 10px;
}

.score {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
/* ---------- Fin Estilos de cada partido ----------*/

/* ---------- Estilos (API 2) ----------*/
.noticias-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.noticia {
  width: 45%;
  margin: 15px;
  background-color: #C6CFD4;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  color: #002A60;
  text-align: left;
}

.noticia-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 15px;
}

.noticia a {
  text-decoration: none;
  color: #CD1041;
  font-weight: bold;
}
/* ---------- Fin Estilos (API 2) ----------*/

/* -------------------- Fin Estilos Contenido Principal -------------------- */


/* -------------------- Estilos Pié de página -------------------- */
.footer {
  background-color: #002A60;
  color: #C6CFD4;
  text-shadow: 0 0 5px #777D84a0;
  font-weight: 500;
  text-align: end;
  padding: 20px;
}
/* -------------------- Fin Estilos Pié de página -------------------- */