/* styles.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bd0514; /* rojo Mickey */
    padding: 20px;
    position: relative;
    color: white;
  }
  
  .logo-container {
    position: absolute;
    left: 40px;
  }
  
  .logo {
    height: 100px;
  }
  
  .header-text h1,
  .header-text h2 {
    margin: 0;
    text-align: center;
  }
  
  .main-container {
    display: flex;
    flex: 1;
    min-height: 500px;
    border-left: 3px solid #222;
    border-right: 3px solid #222;
    border-bottom: 3px solid #222;
    background-color: #f0f8ff;
  }
  
  aside {
    background-color: #f9c74f; /* amarillo de Minnie */
    width: 200px;
    padding: 20px 10px;
    border-right: 2px solid #333;
  }
  
  aside h3 {
    text-align: center;
    color: #222;
  }
  
  .nav-menu a {
    display: block;
    color: #000;
    background-color: #ffda89;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
  }
  
  .nav-menu a:hover {
    background-color: #ffd166;
    color: #222;
  }
  
  main {
    flex-grow: 1;
  padding: 20px;
  background-color: #dbeeff;
  overflow-y: auto;
  box-sizing: border-box;
  }
  
  .phrase-container .phrase {
    font-size: 1.2em;
    color: #3a0ca3;
    text-shadow: 2px 2px 5px #555;
  }
  
  .expectations {
    margin-top: 20px;
  }
  
  .api-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2a2a2a;
    margin-top: 30px;
  }
  
  .api-header h1 {
    font-size: 1.4em;
  }
  
  .personajes-content img,
  .peliculas-content img {
    width: 180px;
    margin: 10px;
    border: 3px solid #e63946;
    border-radius: 12px;
    background-color: white;
  }
  
  footer {
    background-color: #3f88c5;
    text-align: right;
    padding: 10px;
    font-style: italic;
    color: white;
    border-top: 3px solid #222;
  }