* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #FFFF;
  padding: 0;
}

header {
  background-color: #411900;
  padding: 1em 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; 
}

.header-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo-header {
  position: absolute;
  left: 2em;
  width: 50px;
  height: auto;
}

#logo-header:hover{
  box-shadow: 0 4px 6px rgba(0,0,0);
}
.titulo-header {
  color: white;
  font-size: 1.8em;
  text-align: center;
}

#contenido {
  display: flex;
  margin-top: 4em; 
  min-height: calc(100vh - 4em); 
}

#lateral-izq {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  padding: 1.5em;
  width: 15%;
  height: calc(100vh - 4em); 
  text-align: center;
}

#lateral-izq h3{
  padding: 5px;
}

#lateral-izq a {
  color:white;
  text-decoration: none;
  margin-bottom: 1em;
  font-weight: bold;
  padding: 10px;
  background-color: #411900;
  border-radius: 20px;
}

#lateral-izq a:hover{
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#principal {
  width: 85%;
  padding: 1em 2em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#frase-aleatoria {
  display: inline-block;
  text-align: center;
  margin: 1em auto;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: bisque;
  padding: 1em;
  border-radius: 20px;
  border: 5px solid grey;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.span-letra {
  display: inline-block;
}

#expectativa {
  font-size: 1em;
  text-align: center;
  margin-top: 1em;
  color: #555;
}


#imagenapi {
  max-width: 80%;
  max-height: 60vh; 
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 1em;
  object-fit: contain; /* Ajuste interno */
}

footer {
  clear: both;
  background: #2B1D14;
  color: white;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000px; 
  text-align: end;
}