* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.poesia {
	font-family: 'Georgia', serif;
	font-size: 1.25rem;
	color: #f5f5f5;
	margin-bottom: 2rem;
	text-align: center;
	padding: 0 2rem;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
html,body {
	height: 100%;
	margin:0;
	padding: 0;
}
body {
	display: flex;	
	flex-direction: column;	
	font-family: 'Segoe UI',sans-serif;
   	background-color: #190708;	
	color: #ffffff; 
}
#cabecera {
	background: linear-gradient(to right, #000000, #0E0C0C);
	display: flex;	
}

#cabecera img {
	width: 7rem;
	height: 7rem;
}
h1 {
	font-size: 2.5rem;
	padding-left: 9rem;
	text-align: center;
	padding-top: 2rem;
}
main {
	flex-grow: 1;
	display: flex;
	min-height: 0;
	align-items: center;
	justify-content: center;
}

.contenedor {
	display: flex;
	flex: 1;
}
aside{
	background: linear-gradient(to bottom, #000000, #0E0C0C);
	align-items: center;
	width: 10rem;
	padding: 1rem;
}

.botonsito{
	background-color: #D64350;
	color: #fff;
	padding: 1rem;
	margin: 1rem;
	font-family: "Copperplate", "Georgia", serif;
	font-size: 0,5rem;
	border: none;
	border-radius: 8px;
 	box-shadow: 0 4px 6px rgba(0,0,0,0.3);
	transition: all 0.2s ease-in-out;
	width: 6.5rem;
	white-space: normal;
	text-align: center;
}
.botonsito:hover {
	background-color: #BA2C39;
	transform: scale(1.03);
	cursor: pointer;
}

footer {
	background: linear-gradient(to left, #BA2C39, #D64350);
    padding: 1rem;
	text-align: right;
	border-top: solid 4px #381518;
}
#p2 {
	padding: 1rem;
}
main div {
	display:flex;
	flex-direction: column;
	align-items: center;
}
