<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>TP Nro 2</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/chart.js@4.4.0/dist/chart.umd.js"></script>
    <script type="module" src="./main.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- Vue maneja todo lo de adentro -->
      <header>
        <button id="logo-button" class="logo-button">
          <img src="images/logo.png" alt="Logo" class="logo" />
        </button>
        <h1>TP Nro 2 - Grupo 12</h1>
      </header>

      <div class="container">
        <aside class="sidebar">
          <button @click="loadMovies">Agregar Películas Aleatorias</button>
          <button @click="getMovies">Ver Películas Guardadas</button>
          <button @click="showChart">Generos Más Votados</button>
        </aside>

        <main class="content">
          <div v-if="loading" id="loader">Cargando...</div>

          <div v-if="postLoadMessage && !loading && !showChartView" class="message">
            <p>Nuevas películas cargadas. Presione el botón "Ver Peliculas Guardadas".</p>
          </div>
          <div v-if="showChartView" class="chart-wrapper">
            <div class="chart-container">
              <canvas id="votesByGenre"></canvas>
            </div>
          </div>

          <div
            v-if="showMovies && movies.length > 0 && !showChartView" class="table-container"
          >
            <table>
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Sinopsis</th>
                  <th>Géneros</th>
                  <th>Votos</th>
                  <th>Promedio</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="movie in movies" :key="movie.id">
                  <td>{{ movie.titulo }}</td>
                  <td><p>{{ movie.sinopsis }}</p></td>
                  <td>
                    <ul>
                      <li v-for="g in movie.generos">{{ g.nombre }}</li>
                    </ul>
                  </td>
                  <td>{{ movie.cantidad_votos }}</td>
                  <td>{{ movie.promedio_votos }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>

      <footer>TygWeb 2025</footer>
    </div>
  </body>
</html>
