* {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    align-items: center;/*los centra verticalmente*/
    justify-content: center;/*los centra horizontalmente*/
    padding: 10px;
    background-color: #dee4b9;
    color: black;
}

header img.logo {
    position: absolute;
    left:20px;
    height: 60px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    background-color: #f0f0f0;
    flex: 1;
    padding: 20px;
}

aside input {
    display: block; 
    margin-bottom: 4px; 
}

footer {
    background-color: #f0f0f0;
    color: black;
    padding: 20px;
    text-align: right;

}

.main{
    display: flex;
    flex: 1;
}

aside {
    background-color: #c8c8c8;
    width: 180px;
    padding: 20px;
}

header, footer, aside, section {
    border: 1px solid black;
}

.sombra1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    color: rgb(143, 220, 226);
    text-shadow: 2px 2px 0 #706b6b, 2px 2px 0 #585252, 3px 3px 0 #090909;
    background-color: red;
    padding-left: 5px;
    padding-bottom: 2px;
}

.sombra2 {
    font-family: cursive;
    font-size: 150%;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
}

.sombra3 {
    font-family: monospace;
    font-size: 250%;
    color: rgb(1, 101, 1);
    text-shadow: 2px 2px 4px rgba(1, 101, 1, 5);
    background-color: rgb(209, 251, 209);
    padding-left: 3px;
}