*{
    font-family: Arial;
}
content {
    background-color: #B0E0E6;
    height: 500px;
    width: 80%;
    float: right;
    padding-top: 20px;
    text-align: center;
}
header {
    background-color: #BDB76B;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
img {
    float: left;
    width: 60px;
    height: 60px;
    padding: 10px;
}
#devolu {
    margin-left: 500px;
}
#chiste {
    margin-top: 100px;
}
h1{
    align-items: center;
    justify-content: center;
}

#frase {
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}
aside {
    background-color: #66CDAA;
    height: 500px;
    width: 20%;
    float: left;
    padding-top: 20px;
    align-items: center;
}
a{
    font-size: 20px;
}
footer {
    background-color: #B0E0E6;
    text-align: right;
    clear: both;
    height: 35px;
    border: 1px solid black;
}