body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
background: #7185ee;

}

header {
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#logo {
  position: absolute;
  left: 15px;
  height: 60px;
}
.titulo {
  text-align: center;
}
header h1, header h2 {
  text-align: center;
  margin: 0;
}

#container {
  display: flex;
}
.contenido {
  display: flex;
  flex: 1;
  min-height: 0;
}
nav {
  width: 200px;
  background-color: #e6c1c1;
  padding: 10px;
}

main {
  flex: 1;
  padding: 20px;
  margin-bottom: 60px;
  box-sizing: border-box;
}
.menu-api {
  width: 220px;
  background: #eee;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: rgb(123, 194, 194);
}
footer {
  background: #222;
  color: white;
  text-align: right;
  padding: 10px 20px;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

#fraseRandom {
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* Sombras para las frases */
.frase0 {
  text-shadow: 2px 2px 5px red;
}
.frase1 {
  text-shadow: 2px 2px 5px blue;
}
.frase2 {
  text-shadow: 2px 2px 5px green;
}
