* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #7aa975;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    position: relative;
}

.img-header {
    position: absolute;
    left: 10px;
    height: 60px;
}

header p {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

/* Layout container */
.container {
    display: flex;
    flex: 1; 
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.frase {
  display: block;
  width: 100%;
}

.oculto {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

.frase:nth-of-type(1) {
  font-size: 32px;
  text-align: center;
  margin: 30px auto 15px auto;
  padding: 10px;
  font-weight: bold;
  max-width: 90%;
  color: white;
  text-shadow: 5px 5px 12px black;
}

.frase:nth-of-type(2) {
  font-size: 32px;
  text-align: center;
  margin: 30px auto 15px auto;
  padding: 10px;
  font-weight: bold;
  max-width: 90%;
  color: #ffffcc;
  text-shadow: -4px -4px 10px #444;
}

.frase:nth-of-type(3) {
  font-size: 32px;
  text-align: center;
  margin: 30px auto 15px auto;
  padding: 10px;
  font-weight: bold;
  max-width: 90%;
  color: #e0f7ff;
  text-shadow: 3px 3px 14px #0066ff;
}

.expectativa h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #000;
}

.expectativa {
  font-size: 18px;
  text-align: center;
  color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #6eb0a6;
  margin: 10px auto;
  width: 80%;
  padding: 30px 30px;
  border-radius: 20px;
}

/* Aside */
aside {
    background-color: #bee7de;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    border-right: 1px solid #000;
}

aside a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

/* Section */
section {
    flex: 1;
    background-color: #94c4bd;
}

#gif-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


#gif-section img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

/* Footer */
.footer {
    background-color: #0b7b7e;
    color: white;
    height: 40px;
    border: 1px solid #000;
    border-top: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    font-style: italic;
}

