html, body {
  height: 100%;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
}
#centro{
    flex: 1;
    display: flex;
}
header{
    text-align: center;
    background-color: #5C4742 ;
    color: white;
    padding: 32px;
    font-size:x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside{
    color: white;
    width: 15%;
    background-color: #C4BBAF;
    margin: 0;
    padding: 10px;
    line-height: 1.9;
    border-right: 2px solid #5f534f4e;
}

main{
    width: 85%;
    background-color: #C4BBAF;
    color: white;
    margin: 0;
    padding: 30px;
    padding-left: 60px;
}

footer{
    color: white;
    background-color: #5C4742;
    text-align: right;
    bottom: 0;
    width: 100%;
    clear: both;
    padding: 5px;
}

footer p {
    margin-right: 40px;
}


a:link, a:visited {
  background-color: #5C4742;
  color: white;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  margin: 6px;
}

a:hover, a:active {
  background-color: #5c4742cf;
}

.hide{
    display: none
}

.Libro{
    float: left;
    width: 50%;
    text-align: center;
}

.Cafe{
    float: right;
    width: 50%;
    text-align: center;
}

#titulo{
    text-align: center;
}

.expectativas {
    position: relative;
    padding: 50px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 0;
    color: white;
}

.expectativas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(fondo1.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.expectativas::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: -1;
}

header img{
    width: 100px;
    position: absolute;
    left: 20px;
}

main .negro{
    color: rgb(40, 37, 37);
}

#frase_0{
    text-shadow: 3px 3px 3px  white;
}

#frase_1{
    text-shadow: 0 0 3px white;
}

#frase_2{
    text-shadow: 2px 2px white;
}
