html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.contenedor{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
    flex:1;
}
header{
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;  
    padding: 10px;
}


#logo{
    position: relative;
    right: 530px;
    height: 80px;
    width: 80px;
    margin-left:10px;
}

.f1{
    font-style: italic;
     text-shadow:
    1px 3px 0 #999,
    2px 1px 0 #666,
    1px 1px 0 #333;
    font-size: large;
    color: blue;
    
}
.f2{
    font-style: italic;
     text-shadow:
    1px 1px 0 #999,
    1px 3px 0 #666,
    1px 3px 0 #333;
    font-size: large;
    color: green;
}
.f3{
    font-style: italic;
     text-shadow:
    2px 1px 0 #999,
    1px 1px 0 #666,
    2px 1px 0 #333;
    font-size: large;
    color: yellow;
    
}

aside{
    display: block;
    justify-items: center;
    float: left;
    background-color: rgb(255, 255, 190);
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
a{
    position: relative;
    top: 30%;
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}

.linkApi{
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    color: white;
    background-color: black;
    width: 100px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
}
.linkApi:hover{
    background-color: rgb(129, 129, 129);
    transition: 0.2s;
}

section{
    display: grid;
    justify-items: center;
    padding: 20px;
}
.galeria{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    background-color: rgb(211, 211, 211);
}

.galeria img{
    border-radius: 10px;

}



footer{
    background-color: grey;
    border: 1px solid black;
    padding: 10px;
    text-align: end;
}