body {
        margin: 0;
      font-family: Arial, sans-serif;
    }

    .grid-container {
      display: grid;
      grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
      grid-template-columns: 200px 1fr;
      grid-template-rows: 60px 1fr 40px;
      height: 100vh;
    }

    #icono{
        width:  55px;
        border-radius: 50px;
        cursor: pointer;
    }

    #icono:hover{
        width: 60px;
        border: #000000  1px solid;
    }

    header {
      grid-area: header;
      background: #057a7e;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
    aside {
      grid-area: sidebar;
      background: #f4f4f4;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-right: #057a7e solid;
    }
    button{
        background-color: #057a7e;
        color: #f4f4f4;
        font-size: large;
        height: 70px;
        border: #f4f4f4 solid;
        border-radius: 30px;
    }
    button:hover{
        background-color: #f4f4f4;
        color: #057a7e;
        border: #057a7e solid;
    }

    main {
      grid-area: main;
      background: #fff;
      padding: 10px;
    }

    footer {
      grid-area: footer;
      background: #333;
      display: flex;
      align-items: center;
      justify-content:end;
      border-top: #057a7e solid;
      color: #fff;
    }

    #fraseAleatoria {
      font-size: 2em;
      margin: 20px auto;
      width: 80%;
    }
    
    .sombra1 {
      color: #007ffd;
      text-shadow: 2px 2px 5px #bdc3c7;
    }

    .sombra2 {
      color: #16a085;
      text-shadow: 3px 3px 6px #ecf0f1;
    }

    .sombra3 {
      color: #e74c3c;
      text-shadow: -2px -2px 4px #2c3e50;
    }
