body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: rgb(33, 25, 144);
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid black;
}

.logo {
    position: absolute;
    left: 10px;
    top: 2px;
    height: 110px;
}

h1 {
    color: white;
}

main {
    flex: 1;
    padding: 30px;
    background-color: #d3dbeb;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #80bdf2;
    width: 200px;
    padding: 20px;
    border: 2px solid black;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

/* Estilo para la frase */

.sombra {
    text-shadow: 2px 2px 4px #364040;
    color: #0c22ea;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

footer {
    background-color: #b5d0fa;
    text-align: right;
    padding: 15px;
    border-top: 2px solid black;
}