 * {
      box-sizing: border-box;     
      margin:0;
      height:auto
    }

    p{
      font-family:'Times New Roman', sans-serif;
      font-size:22px;
      color:rgba(255, 255, 255, 0.813)
    }

    header {
      background-color: rgb(231, 230, 236);
      display: flex;
      position:relative
      
    }

    header img {
      height: 110px;
      margin-right: 20px;
      width:17%
    }

    header h2 {
      position:absolute;
      left:35%;
      text-align: center;
      padding-top:0
    }

    aside {
      background-color: rgba(73, 73, 182, 0.842);
      width: 17%;
      padding: 10px;
    }

    section {
      width: 83%;
      padding: 10px;
      background-color: rgb(32, 49, 125);
      overflow:auto;
      
    }

    main {
      display: flex;
      height: 356px;
    }

    footer {
      height: 82px;
      background-color: rgb(134, 209, 234);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;
    }

    .bordes {
      border: 1px solid black;
    }

    #contenido {
      font-size: 16px;
      font-weight: normal;
      margin-top: 20px;
      max-height: 300px;
      overflow-y: auto;
    }

    #contenido p {
      margin: 5px 0;
    }

    button {
      padding: 6px 12px;
      font-size: 13px;
      cursor: pointer;
      border-radius: 8px;
      margin-top:5px
    }

    button:hover{
        background-color: rgba(247, 227, 227, 0.416);
    }

    #imgperro{
        height:200px;
    }

    aside input{
          height:40px;
          border-radius:4px
    }
    
    .this{
        display:block;
    }

    #these{
        margin-top:40px;
        margin-left:10px;
    }

    #those{
        margin-top:10px;
        margin-left:10px
    }

    a{
        text-decoration: none;
    }

    .frase1{
        text-shadow:1px 2px 3px red;
        color:rgb(149, 224, 10);
    }

    .frase2{
      text-shadow:1px 4px 4px rgb(0, 255, 106);
      color:orange
    }

    .frase3{
      text-shadow:2px 5px 6px rgb(153, 255, 0);
      color: coral
    }

    #perro{
      font-size: 12px;
    }